# Using Python's `csv` Module

This Jupyter Notebook introduces basic data handling using only built-in Python tools.

Specifically, we'll be using the `csv` module that's built into Python for our data analysis.

# Resources

If you have not used the `csv` module before, I suggest opening up one of the following links as a reference as you go through this assignment:

0. [The basics: a short and sweet tutorial on the `csv` module](https://pythonprogramming.net/reading-csv-files-python-3/)
1. [More in-depth: How to read and write csv files with Python](https://code.tutsplus.com/tutorials/how-to-read-and-write-csv-files-in-python--cms-29907)
3. [Thorough tutorial: Reading and writing csv files with Python](https://realpython.com/python-csv/#reading-csv-files-into-a-dictionary-with-csv)

# Your Assignment

Using only the built-in `csv` module and what you know about the Python programming language (including other built-in standard libraries), complete the following tasks:

1. Load the Titanic dataset
2. Pick one set of exercises below (Introductory, Intermediate or Advanced) and analyze the dataset to answer all of the questions:


### Introductory

* What is the sum total of all fares paid by passengers on the Titanic?
* What % of the total fare was paid by each of the passenger classes?
* What was the average age of passengers on the Titanic? Who was the oldest passenger? Who was the youngest?
* What % of female passengers under the age of 25 survived?
    
### Intermediate
* What % of female passengers in Class 2 survived? 
* Which Cabin letter (A, B, C, D, E or F) had the highest survival rate?
* What % of the Titanic passengers were Class 1? Class 2? Class 3?
* Which Boat # had the highest survival rate?
    
### Advanced
* What were the top 3 most common destinations on the Titanic?
* What % of rows in this dataset has at least one null or unknown quantity (e.g., it's blank in some column)?
* On average, which combination of embarking / destination tended to require the highest fare? (E.g., what was highest average price for each of the possible combinations for where a passenger could embark and their destination?)

# Your Code Below

In [2]:
import csv

### Write your code here that answers each of the exercises above

### Introductory

* What is the sum total of all fares paid by passengers on the Titanic?
* What % of the total fare was paid by each of the passenger classes?
* What was the average age of passengers on the Titanic? Who was the oldest passenger? Who was the youngest?
* What % of female passengers under the age of 25 survived?

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('../datasets/titanic/titanic_dataset.csv')

In [10]:
# * What is the sum total of all fares paid by passengers on the Titanic?
sum_fare = data['fare'].sum()
print(sum_fare)

43550.4869

In [12]:
# * What % of the total fare was paid by each of the passenger classes?
p1 = data[data['pclass'] == 1]['fare'].sum() / sum_fare
p2 = data[data['pclass'] == 2]['fare'].sum() / sum_fare
p3 = data[data['pclass'] == 3]['fare'].sum() / sum_fare
print(p1)
print(p2)
print(p3)

0.649026137524
0.13470888198
0.216264980496

In [17]:
# * What was the average age of passengers on the Titanic? Who was the oldest passenger? Who was the youngest?
average_age = data['age'].mean()
print(average_age)

oldest = data['age'].max()
youngest = data['age'].min()

print(data['age'].argmax())

29.8811345124
14

In [20]:
data.loc[14]

pclass                                          1
survived                                        1
name         Barkworth, Mr. Algernon Henry Wilson
sex                                          male
age                                            80
sibsp                                           0
parch                                           0
ticket                                      27042
fare                                           30
cabin                                         A23
embarked                                        S
boat                                            B
body                                          NaN
home.dest                           Hessle, Yorks
Name: 14, dtype: object

In [21]:
print(data['age'].argmin())

763

In [22]:
data.loc[763]

pclass                                             3
survived                                           1
name         Dean, Miss. Elizabeth Gladys "Millvina"
sex                                           female
age                                           0.1667
sibsp                                              1
parch                                              2
ticket                                     C.A. 2315
fare                                          20.575
cabin                                            NaN
embarked                                           S
boat                                              10
body                                             NaN
home.dest                 Devon, England Wichita, KS
Name: 763, dtype: object

In [27]:
# * What % of female passengers under the age of 25 survived?
female_under_25 = data[(data['age'] < 25) & (data['sex'] == 'female')]

In [30]:
female_under_25['survived'].sum() / female_under_25.shape[0]

0.72093023255813948

### Intermediate
* What % of female passengers in Class 2 survived? 
* Which Cabin letter (A, B, C, D, E or F) had the highest survival rate?
* What % of the Titanic passengers were Class 1? Class 2? Class 3?
* Which Boat # had the highest survival rate?

In [5]:
# * What % of female passengers in Class 2 survived? 
subset = data[(data['sex'] == 'female') & (data['pclass'] == 2)]
percent_female_class2 = subset['survived'].sum() / subset.shape[0]
print(percent_female_class2)

0.88679245283

In [41]:
# * Which Cabin letter (A, B, C, D, E or F) had the highest survival rate?

cabin_a = data[data['cabin'].str.contains('A') == True]
cabin_b = data[data['cabin'].str.contains('B') == True]
cabin_c = data[data['cabin'].str.contains('C') == True]
cabin_d = data[data['cabin'].str.contains('D') == True]
cabin_e = data[data['cabin'].str.contains('E') == True]
cabin_f = data[data['cabin'].str.contains('F') == True]

In [42]:
print(cabin_a['survived'].sum() / cabin_a.shape[0])
print(cabin_b['survived'].sum() / cabin_b.shape[0])
print(cabin_c['survived'].sum() / cabin_c.shape[0])
print(cabin_d['survived'].sum() / cabin_d.shape[0])
print(cabin_e['survived'].sum() / cabin_e.shape[0])
print(cabin_f['survived'].sum() / cabin_f.shape[0])

# Cabin E

0.5
0.723076923077
0.606382978723
0.695652173913
0.727272727273
0.619047619048

In [45]:
# * What % of the Titanic passengers were Class 1? Class 2? Class 3?
data['pclass'].value_counts(normalize=True)

3.0    0.541635
1.0    0.246753
2.0    0.211612
Name: pclass, dtype: float64

In [50]:
# * Which Boat # had the highest survival rate?
boat_ids = data['boat'].dropna().unique()

In [56]:
for boat in boat_ids:
    subset = data[data['boat'] == boat]
    survival_rate = subset['survived'].sum() / subset.shape[0]
    print('Boat ID: {} - {:2f}'.format(boat, survival_rate * 100))

Boat ID: 2 - 100.000000
Boat ID: 11 - 100.000000
Boat ID: 3 - 100.000000
Boat ID: 10 - 100.000000
Boat ID: D - 95.000000
Boat ID: 4 - 100.000000
Boat ID: 9 - 100.000000
Boat ID: 6 - 100.000000
Boat ID: B - 88.888889
Boat ID: 8 - 100.000000
Boat ID: A - 63.636364
Boat ID: 5 - 100.000000
Boat ID: 7 - 100.000000
Boat ID: C - 97.368421
Boat ID: 14 - 96.969697
Boat ID: 5 9 - 100.000000
Boat ID: 13 - 100.000000
Boat ID: 1 - 100.000000
Boat ID: 15 - 100.000000
Boat ID: 5 7 - 100.000000
Boat ID: 8 10 - 100.000000
Boat ID: 12 - 94.736842
Boat ID: 16 - 100.000000
Boat ID: 13 15 B - 100.000000
Boat ID: C D - 100.000000
Boat ID: 15 16 - 100.000000
Boat ID: 13 15 - 100.000000

### Advanced
* What were the top 3 most common destinations on the Titanic?
* What % of rows in this dataset has at least one null or unknown quantity (e.g., it's blank in some column)?
* On average, which combination of embarking / destination tended to require the highest fare? (E.g., what was highest average price for each of the possible combinations for where a passenger could embark and their destination?)

In [58]:
# * What were the top 3 most common destinations on the Titanic?

data['home.dest'].value_counts()

New York, NY                                      64
London                                            14
Montreal, PQ                                      10
Paris, France                                      9
Cornwall / Akron, OH                               9
Winnipeg, MB                                       8
Philadelphia, PA                                   8
Wiltshire, England Niagara Falls, NY               8
Brooklyn, NY                                       7
Sweden Winnipeg, MN                                7
Belfast                                            7
Bulgaria Chicago, IL                               5
Rotherfield, Sussex, England Essex Co, MA          5
Ottawa, ON                                         5
Sweden Worcester, MA                               5
Somerset / Bernardsville, NJ                       5
Haverford, PA / Cooperstown, NY                    5
Austria                                            4
Ireland New York, NY                               4
Minneapolis, MN                                    4
London, England                                    4
Ireland Chicago, IL                                4
Chicago, IL                                        4
Montreal, PQ / Chesterville, ON                    4
Bryn Mawr, PA                                      4
Youngstown, OH                                     4
Devon, England Wichita, KS                         4
Bournmouth, England                                4
Ruotsinphytaa, Finland New York, NY                4
Syria New York, NY                                 4
                                                  ..
Green Bay, WI                                      1
London New York, NY                                1
Westcliff-on-Sea, Essex                            1
Tranvik, Finland New York                          1
Sweden Akeley, MN                                  1
Oskarshamn, Sweden Minneapolis, MN                 1
Co Sligo, Ireland Hartford, CT                     1
Ireland Philadelphia, PA                           1
India / Rapid City, SD                             1
New Britain, CT                                    1
Goteborg, Sweden / Rockford, IL                    1
St Andrews, Guernsey                               1
England Salt Lake City, Utah                       1
Lyndhurst, England                                 1
Antwerp, Belgium / Stanton, OH                     1
Weston-Super-Mare / Moose Jaw, SK                  1
East Orange, NJ                                    1
Bristol, England Cleveland, OH                     1
London Skanteales, NY                              1
Cologne, Germany                                   1
Glen Ridge, NJ                                     1
Plymouth, Dorset / Houghton, MI                    1
Southampton / New York, NY                         1
Bulgaria Coon Rapids, IA                           1
Dorchester, MA                                     1
Finland / Washington, DC                           1
Austria-Hungary / Germantown, Philadelphia, PA     1
Ireland Brooklyn, NY                               1
Cooperstown, NY                                    1
Halesworth, England                                1
Name: home.dest, Length: 369, dtype: int64

In [60]:
data.isnull().any()

pclass       True
survived     True
name         True
sex          True
age          True
sibsp        True
parch        True
ticket       True
fare         True
cabin        True
embarked     True
boat         True
body         True
home.dest    True
dtype: bool

In [68]:
# * What % of rows in this dataset has at least one null or unknown quantity (e.g., it's blank in some column)?
def has_null(row):
    if row.isnull().any():
        return True
    return False

data['has_null'] = data.apply(has_null, axis=1)

In [69]:
data['has_null'].sum() / data.shape[0]

1.0

In [82]:
import numpy as np

In [84]:
# * On average, which combination of embarking / destination tended to require the highest fare? (E.g., what was highest average price for each of the possible combinations for where a passenger could embark and their destination?)
subset = data.dropna(axis=0, subset=['embarked', 'home.dest'])
pivoted = subset.pivot_table(index=['embarked', 'home.dest'], values=['fare'], aggfunc=np.mean)

In [88]:
pivoted['fare'].argmax()

('C', 'Austria-Hungary / Germantown, Philadelphia, PA')